.nav {
  position: fixed;
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav i {
  font-size: 20px;
}

.nav .nav__list-link {
  position: relative;
}

@keyframes showNavBar {
  from {
    transform: translateY(80px);
  }
  to {
    transform: none;
  }
}

.nav {
  transform: translateY(80px);
  animation: showNavBar 0.5s 1s ease-out forwards;
  /* animation-delay: 1s; */
}

.nav__list-text {
  width: 20px;
  height: 20px;
  background-color: red;
  font-size: 10px;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline-flex;
  border-radius: 10px;
}
